<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<form action="/task/add" method="post">
    <a href="/task/list">Back</a>
    <h4>Adding</h4>
    <h5>Task Name:</h5>
    <input name="name" required/>
    <h5>Task Text:</h5>
    <input name="text" required>
    <h4>Time to complete</h4>
    <h5>Amount of days:</h5>
    <input name="days" type="number" min="0" max="365" value="0" required>
    <h5>Amount of hours:</h5>
    <input name="hours" type="number" min="0" max="24" value="0" required>
    <h5>Amount of minutes:</h5>
    <input name="minutes" type="number" min="0" max="60" step="5" value="0" required>
    <button type="submit">Add</button>
</form>
</body>
</html>